[[source]]
url = "https://pypi.douban.com/simple"
verify_ssl = true
name = "pypi"

[packages]

click = "*"
"jinja2" = "*"
pyyaml = "*"

[dev-packages]

pytest = "*"

[requires]
python_version = "3.6"
python_full_version = '3.6.4'

